/* Dropdown Toggle Button */
.btn-secondary {
    background-color: #007bff;
    color: #fff;
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: #808080;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

/* Dropdown Item */
.dropdown-item {
    color: #000;
}

    /* Hover effect for better visibility */
    .dropdown-item:hover {
        background-color: none;
        color: #fff;
    }
