@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="~/images/about-img.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Về <span>chúng tôi</span>
                            </h2>
                        </div>
                        <p>
                           Chúng tôi luôn có đội ngũ bác sĩ có chuyên môn cao, uy tín và được công nhận trong ngành y tế. Trị được bách bệnh,
                            khiến bạn độc tố bất xâm, bồi dưỡng thể cốt, trường sinh cũng 
                            không là việc bất khả thi. Hãy đến với chúng tôi ngay trong hôm nay để không lỡ cơ duyên!
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
</main>