@{
    ViewBag.Title = "Home Page";
}

<main>
    <!-- slider section -->
    <section class="slider_section ">
        <div class="dot_design">
            <img src="~/images/dots.png" alt="">
        </div>
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <div class="play_btn">
                                        <button>
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <h1>
                                        Mico <br>
                                        <span>
                                            Hospital
                                        </span>
                                    </h1>
                                    <p>
                                        Khi bạn cảm thấy không khỏe, hãy tìm đến chúng tôi, chúng tôi luôn mong muốn thế giới được khỏe mạnh.
                                    </p>
                                    <a href="">
                                        Liên hệ ngay
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="~/images/slider-img.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <div class="play_btn">
                                        <button>
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <h1>
                                        Mico <br>
                                        <span>
                                            Hospital
                                        </span>
                                    </h1>
                                    <p>
                                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                                    </p>
                                    <a href="">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="~/images/slider-img.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <div class="play_btn">
                                        <button>
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <h1>
                                        Mico <br>
                                        <span>
                                            Hospital
                                        </span>
                                    </h1>
                                    <p>
                                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                                    </p>
                                    <a href="">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="~/images/slider-img.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn-box">
                <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                    <img src="~/images/prev.png" alt="">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                    <img src="~/images/next.png" alt="">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </section>
    <!-- end slider section -->
    </div>




    <!-- treatment section -->

    <section class="treatment_section layout_padding">
        <div class="side_img">
            <img src="~/images/treatment-side-img.jpg" alt="">
        </div>
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Bạn cần <span>tư vấn ?</span>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/t1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h4>
                                Vắc-xin
                            </h4>
                            <p>
                                Vắc xin là một biện pháp y tế phòng ngừa được sử dụng để kích thích hệ miễn dịch của cơ thể để sản xuất kháng thể chống lại các tác nhân gây bệnh như vi khuẩn hoặc virus. Đây là một công cụ quan trọng trong nỗ lực ngăn chặn sự lây lan của các bệnh truyền nhiễm và bảo vệ sức khỏe cộng đồng.
                            </p>
                            <a href="">
                                Đọc thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/t2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h4>
                                Bảo vệ mắt
                            </h4>
                            <p>
                                Bảo vệ mắt là yếu tố quan trọng của chăm sóc sức khỏe,
                                bao gồm việc sử dụng kính bảo hộ khi làm việc và đeo kính mặt trời để ngăn chặn tác động của tia UV.
                                Giảm thời gian sử dụng thiết bị điện tử, duy trì chế độ ăn uống cân đối và thực hiện nghỉ ngơi định kỳ cũng là cách quan trọng để bảo vệ sức khỏe mắt và tránh các vấn đề liên quan đến mệt mỏi và căng thẳng mắt.
                            </p>
                            <a href="">
                                Đọc thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/t3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h4>
                                Bệnh truyền nhiễm
                            </h4>
                            <p>
                                Bệnh truyền nhiễm là những bệnh gây ra bởi vi khuẩn, virus, nấm, hoặc các vi sinh vật khác có thể lây truyền từ người này sang người khác hoặc từ môi trường sang con người. Các loại bệnh truyền nhiễm có thể bao gồm cảnh báo như cảm lạnh và cúm, cũng như các bệnh nguy hiểm hơn như HIV/AIDS, cúm H5N1, hoặc COVID-19.
                            </p>
                            <a href="">
                                Đọc thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/t4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h4>
                                Tim mạch
                            </h4>
                            <p>
                                Hệ thống tim mạch là một phần quan trọng của cơ thể, bao gồm tim, mạch máu, và các mô khác liên quan đến quá trình truyền máu.
                                Tim mạch chịu trách nhiệm đưa máu chứa dưỡng chất và ôxy đến tất cả các tế bào trong cơ thể và đồng thời loại bỏ chất cặn và chất thải.
                                </p>
                                <a href="">
                                    Đọc thêm
                                </a>
</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end treatment section -->
    <!-- team section -->

    <section class="team_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Bác sĩ <span>của chúng tôi</span>
                </h2>
            </div>
            <div class="carousel-wrap ">
                <div class="owl-carousel team_carousel">
                    <div class="item" >
                        <div class="box" >
                            <div class="img-box" >
                                <img src="~/images/bacsi.jpg" alt=""  />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Vương Thất Tùng
                                </h5>
                                <h6>
                                    Khoa thần kinh
                                </h6>
                                <div class="social_box">
                                    <a href="">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box" >
                            <div class="img-box" >
                                <img src="~/images/bacsi.jpg" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Trần Văn Tám
                                </h5>
                                <h6>
                                    Khoa hồi sức cấp cứu
                                </h6>
                                <div class="social_box">
                                    <a href="">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/images/bacsi.jpg" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Nguyễn Anh Khoa
                                </h5>
                                <h6>
                                    Khoa hồi sức cấp cứu
                                </h6>
                                <div class="social_box">
                                    <a href="">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end team section -->

</main>