@{
    ViewBag.Title = "DSBenh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-container {
        display: flex;
        justify-content: space-around; 
        flex-wrap: wrap;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: calc(33.33% - 30px);
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        margin: 15px; 
        
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

    .container {
        padding: 2px 16px;
        text-align: center; 
        padding-top:10px;
        color:black
    }
</style>

<div class="card-container">
    <div class="card">
        <a href="/BacSi/DSBacsi">
            <img src="~/images/CoXuongKhop.png" alt="Avatar" style="width:200px;height:180px;">
            <div class="container">
                <h4><b>Cơ-xương khớp</b></h4>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/BacSi/DSBacsi">
            <img src="~/images/DaLieu.png" alt="Avatar" style="width:200px;height:180px;">
            <div class="container">
                <h4><b>Da liễu</b></h4>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/BacSi/DSBacsi">
            <img src="~/images/HiemMuon.png" alt="Avatar" style="width:200px;height:180px;">
            <div class="container">
                <h4><b>Hiến muộn</b></h4>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/BacSi/DSBacsi">
            <img src="~/images/Mat.png" alt="Avatar" style="width:200px;height:180px;">
            <div class="container">
                <h4><b>Mắt</b></h4>
            </div>
        </a>
    </div>


    <div class="card">
        <a href="/BacSi/DSBacsi">
            <img src="~/images/NhiKhoa.png" alt="Avatar" style="width:200px;height:180px;">
            <div class="container">
                <h4><b>Nhi khoa</b></h4>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/BacSi/DSBacsi">
            <img src="~/images/PhoiHoHap.png" alt="Avatar" style="width:200px;height:180px;">
            <div class="container">
                <h4><b>Phổi hô hấp</b></h4>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/BacSi/DSBacsi">
            <img src="~/images/RangHamMat.png" alt="Avatar" style="width:200px;height:180px;">
            <div class="container">
                <h4><b>Răng hàm mặt</b></h4>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/BacSi/DSBacsi">
            <img src="~/images/SanPhuKhoa.png" alt="Avatar" style="width:200px;height:180px;">
            <div class="container">
                <h4><b>Sản phụ khoa</b></h4>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/BacSi/DSBacsi">
            <img src="~/images/ViemGanTieuHoa.png" alt="Avatar" style="width:200px;height:180px;">
            <div class="container">
                <h4><b>Viêm gan tiêu hóa</b></h4>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="/BacSi/DSBacsi">
            <img src="~/images/DinhDuong.png" alt="Avatar" style="width:200px;height:180px;">
            <div class="container">
                <h4><b>Dinh dưỡng</b></h4>
            </div>
        </a>
    </div>
</div>
